<header class="header-banner">
    <h1>TODO List</h1>
</header>
<section class="main-content">

    <br/><br/>

    <div class="todo-create">

        <form id="todo-form">
            <input id="new-todo" ng-model="newTodoTitle" class="form-control edit-todo" type="text"
                   placeholder="What needs to be done?" autofocus>
            <button id="submit-todo" ng-click="createTodo()" type="submit" class="btn btn-default btn-create">Create
            </button>
        </form>

    </div>

    <br/> <br/>

    <div class="todo-management">

        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default dropdown-toggle btn-filter" data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false">
                {{chosenFilterString}}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a ng-click="filterTodo('No Filter')">No Filter</a></li>
                <li><a ng-click="filterTodo('Complete')">Complete</a></li>
                <li><a ng-click="filterTodo('Active')">Active</a></li>
            </ul>
        </div>

        <button class="btn btn-danger btn-delcomplete" id="delete-complete"
                ng-disabled="completeCount==0" data-toggle="modal" data-target=".todo-delete-single-dialog"
                ng-click="modalClick('deleteCompleted', null)">Delete completed
        </button>

    </div>

    <br/> <br/>

    <h2 id="todo-list-placeholder" ng-show="loadingList">Loading...</h2>

    <ul id="todo-list" class="list-group checked-list-box">
        <li ng-repeat="todo in todos" class="list-group-item"
            ng-class="todo.isComplete ? 'list-group-item-success' : ''">
            <span class="state-icon glyphicon" ng-click="completeTodo(todo)"
                  ng-class="todo.isComplete ? 'glyphicon-check' : 'glyphicon-unchecked'"></span>

            <label class="todo-item-label" ng-click="completeTodo(todo)">
                {{todo.title}}
            </label>

            <button type="button" id="todo-delete" class="btn btn-default btn-delete"
                    data-toggle="modal" data-target=".todo-delete-single-dialog"
                    ng-click="modalClick('deleteSingle', todo)">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"> </span>
            </button>

            <button type="button" ng-show="!todo.isComplete" ng-click="completeTodo(todo)"
                    class="btn btn-default btn-complete">
                <span class="state-icon glyphicon glyphicon-ok"></span>
            </button>

        </li>
    </ul>

    <div class="modal fade todo-delete-single-dialog" tabindex="-1" role="dialog" aria-labelledby="deleteSingleDialog">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{{modal.text}}</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="modal.callback(modal.data)"
                            data-dismiss="modal">Yes
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>

    <div id="count-label" ng-show="incompleteCount>0">{{completeCount}} / {{todoItemCount}} complete</div>
    <br/>

    <div id="error" ng-show="errorText">{{errorText}}</div>

</section>